<%- include('header') %>
<h1>About</h1>
<p>Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio </p>
<p>Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio </p>
<p>Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio </p>
<p>Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio </p>
<p>Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio Hello, I'm Caio </p>
<%- include('footer') %>